#wrapper
{	
	display: grid;
	grid-template-areas:
	'logo   header header header '
    'leftSide topBar topBar rightSide'
    'leftSide   main   main  rightSide'
    'footer footer footer footer';
}

#header  
{ 
	grid-area: header;
	background-color: #c42525;
	background: linear-gradient(to bottom, #bfbfbf 0%, #ffffff 100%);
}

#header h1, h3  
{ 
	font-size: 250%;
	margin-left: 15px;
	color: #990000;
}

#content
{
	grid-area: main;
	margin: 0px auto;
	width: 1200px;
	min-height: 800px;
}

#topBar
{
	width: 1200px;
	margin: 0px auto;
	grid-area: topBar;
	background: linear-gradient(to bottom, #ffffff 0%, #bfbfbf 100%);
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
	grid-column-gap: 5px;
	align-content: center;
	justify-content: left;
	height: 30px;
}

#topBar a
{
	color: #000000;
	text-align: center;
	text-decoration: none; 
	padding-right: 5px;
	padding-left: 5px;
	margin: 2px;
	background: linear-gradient(to bottom, #ffffff 0%, #bfbfbf 100%);
	border: 1px solid #bfbfbf;
}

#topBar a:hover
{
	color: #990000;
}

#topBar button
{
	color: #000000;
	text-align: center;
	text-decoration: none; 
	padding-right: 5px;
	padding-left: 5px;
	background: linear-gradient(to bottom, #ffffff 0%, #bfbfbf 100%);
	border: 1px solid #bfbfbf;
	width: auto;
	height: 20px;
	font-family: "Verdana" sans-serif;
	cursor: pointer;

}

#topBar button:hover
{
	color: #990000;
}

#Form
{
	padding: 5px;
	background: linear-gradient(to bottom, #bfbfbf 0%, #ffffff 100%);
}

#Form ul
{
	margin: 0px;
	padding: 20px;
}

#Form ul li
{
	list-style: none;
	padding: 5px;
	margin: 10px;
}

#Form ul li:hover
{
	background-color: #bfbfbf;
}

#Form ul li a
{
	color: #000000;
	text-align: center;
	text-decoration: none; 
	padding: 5px;
}

#CategoryForm
{
	padding: 5px;
	background: linear-gradient(to bottom, #bfbfbf 0%, #ffffff 100%);
}

#CategoryForm ul
{
	margin: 0px;
}

#CategoryForm ul li
{
	list-style: none;
	padding: 5px;
	margin: 10px;
}

#CategoryForm ul li a
{
	color: #000000;
	text-align: center;
	text-decoration: none; 
	padding: 5px;
}

#CategoryForm button
{
	color: #000000;
	text-align: center;
	text-decoration: none; 
	padding-right: 5px;
	padding-left: 5px;
	background: linear-gradient(to bottom, #ffffff 0%, #bfbfbf 100%);
	border: 1px solid #bfbfbf;
	width: auto;
	height: 20px;
	font-family: "Verdana" sans-serif;
	cursor: pointer;

}

#CategoryForm button:hover
{
	color: #990000;
}

#logoBox
{
	grid-area: logo;
	background: linear-gradient(to bottom, #bfbfbf 0%, #ffffff 100%);
}

#footer  
{ 
	grid-area: footer;
	display: grid;
	grid-template-columns: 50% 50%;
	align-content: center;
	justify-content: center;
	text-align: center;
	color: #000000;
	background: linear-gradient(to bottom, #ffffff 0%, #bfbfbf 100%);
	list-style: none;
}

#footer ul
{ 
	list-style-type: none;
}

#footer ul li a
{ 
	
	list-style-type: none;
	text-decoration: none;
	color: #000000;
}

#footer ul li a:hover
{
	color: #990000;
}