#wrapper
{	
	display: grid;
	grid-template-areas:
	'logo   header header header header'
    'topBar topBar topBar topBar topBar'
    'main   main   main   main   main'
    'footer footer footer footer footer';
}

#header  
{ 
	grid-area: header;
	background-color: #c42525;
	background: linear-gradient(to bottom, #bfbfbf 0%, #ffffff 100%);
}

#header h1, h3  
{ 
	font-size: 250%;
	margin-left: 15px;
	color: #990000;
}

#logoBox
{
	grid-area: logo;
	display: grid;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to bottom, #bfbfbf 0%, #ffffff 100%);
	min-width: 280px;
}

#logo
{
	width: 150px;
	height: 150px;
}

#content 
{ 	
	grid-area: main;
	grid-gap: 5px;
	padding: 5px;
	margin: 0px auto;
	min-height: 800px;
	min-width: 1300px;
}

.ShortAd
{
	border-bottom: 1px solid #999999;
	padding: 5px;
}

.ShortAd p
{
	color: #000000;
	text-align: left;
	text-decoration: none; 
	padding-right: 5px;
	padding-left: 5px;
	margin: 5px;
}

.ShortAdImage
{
	display: grid;
	justify-content: left;
	background-color: white;
}

.ShortAdImage img 
{
  max-width:200px;
  max-height:150px;
  width: auto;
  height: auto;
  margin: 5px;
}

.links a
{
	color: #000000;
	text-align: center;
	text-decoration: none; 
	padding-right: 5px;
	padding-left: 5px;
	margin: 2px;
	background: linear-gradient(to bottom, #ffffff 0%, #bfbfbf 100%);
	border: 1px solid #bfbfbf;
	font-family: Times;
	width: auto;
}

.links a:hover
{
	color: #990000;
}

#topBar
{
	background: linear-gradient(to bottom, #ffffff 0%, #bfbfbf 100%);
	min-width: 1300px;
	margin: 0px auto;
	grid-area: topBar;
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 5px;
	align-content: center;
	justify-content: left;
	height: 30px;
}

#topBar a
{
	color: #000000;
	text-align: center;
	text-decoration: none; 
	padding-right: 5px;
	padding-left: 5px;
	margin: 2px;
	background: linear-gradient(to bottom, #ffffff 0%, #bfbfbf 100%);
	border: 1px solid #bfbfbf;
	font-family: Times;
	width: auto;
}

#topBar a:hover
{
	color: #990000;
}

#footer  
{ 
	grid-area: footer;
	display: grid;
	grid-template-columns: 50% 50%;
	align-content: center;
	justify-content: center;
	text-align: center;
	color: #000000;
	background: linear-gradient(to bottom, #ffffff 0%, #bfbfbf 100%);
	list-style: none;
}

#footer ul
{ 
	list-style-type: none;
}

#footer ul li a
{ 
	
	list-style-type: none;
	text-decoration: none;
	color: #000000;
}

#footer ul li a:hover
{
	color: #990000;
}